h1{
    font-family: Josefin Sans;
    text-align: center;
    padding: 10px;
}

table{
    margin: 0 auto;
}

td{
    width: 100px;
    height: 100px;
}

.horizontal{
    border-top: solid 3px black;
    border-bottom: solid 3px black;
}

.vertical{
    border-left: solid 3px black;
    border-right: solid 3px black;
} 